@use 'variables' as v;

#banner{
    height: 28.45rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: map-get(v.$custom-theme-colors, "pddarktransparent");
    background-blend-mode: multiply;
  
}